gradio==4.44.1
rerun-sdk
imageio
imageio[ffmpeg]
decord
einops
easydict
tqdm
OpenEXR==3.3.1
git+https://github.com/huggingface/transformers
accelerate
qwen-vl-utils[decord]
flash-attn
gsplat
pycolmap
viser
nerfview
scikit-learn
torchmetrics[image]
opencv-python
Pillow
tensorboard
tensorly
pyyaml
matplotlib
plyfile
open3d
setuptools
scipy
ninja
timm
huggingface-hub
kornia
torch-scatter
git+https://github.com/facebookresearch/xformers.git@main#egg=xformers