accelerate
decord
easydict
einops
flash-attn
git+https://github.com/huggingface/transformers
gradio==4.44.1
huggingface-hub
imageio[ffmpeg]
kornia
matplotlib
ninja
opencv-python
OpenEXR==3.3.1
Pillow
plyfile
pycolmap
pyyaml
qwen-vl-utils[decord]
rerun-sdk
scikit-learn
scipy
setuptools
tensorboard
tensorly
timm
torchmetrics[image]
torch-scatter
tqdm
xformers==0.0.29