gradio==4.44.1
rerun-sdk
imageio
imageio[ffmpeg]
decord
xformers
einops
easydict
tqdm
OpenEXR==3.3.1
git+https://github.com/huggingface/transformers
accelerate
qwen-vl-utils[decord]
flash-attn
gsplat
pycolmap
viser
nerfview
scikit-learn
torchmetrics[image]
opencv-python
Pillow
tensorboard
tensorly
pyyaml
matplotlib
git+https://github.com/rahul-goel/fused-ssim
plyfile
open3d
setuptools